{% extends '../layout/control.html' %} {% block body %}
<div class="left-menu">
    <div class="page-title clear">
        <button class="create-btn">
            <span>create</span>
            <span>row</span>
        </button>
        <h3>New Page</h3>
    </div>
    <div class="page-context">
        <div class="list-group ast-tree-view">
            <div class="list-group-item">
                <h4>Row1</h4>
                <ul>
                    <li>
                        <h5 class="column">Column1</h5>
                        <ul>
                            <li>
                                <h6 class="active">banner</h6>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="list-group-item">
                <h4>Row2</h4>
                <ul>
                    <li>
                        <h5 class="column">Column1</h5>
                        <ul>
                            <li>
                                <h6>component1</h6>
                            </li>
                        </ul>
                        <h5 class="column">Column2</h5>
                        <ul>
                            <li>
                                <h6>component2</h6>
                            </li>
                        </ul>
                        <h5 class="column">Column3</h5>
                        <ul>
                            <li>
                                <h6>component3</h6>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="list-group-item">
                <h4>Row3</h4>
                <ul>
                    <li>
                        <h5 class="column">Column1</h5>
                        <ul>
                            <li>
                                <h6>component1</h6>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h5 class="column">Column2</h5>
                        <li>
                            <ul>
                                <li>
                                    <h6>component3</h6>
                                </li>
                            </ul>
                        </li>
                </ul>
            </div>
            <div class="list-group-item">
                <h4>Row4</h4>
                <ul>
                    <li>
                        <h5 class="column">Column1</h5>
                        <ul>
                            <li>
                                <h6>footer</h6>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="html-view">
    <div class="row" data-row="1">
        <div class="col" data-col="1">

        </div>
    </div>
    <div class="row" data-row="2">
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
    <div class="row" data-row="3">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
    <div class="row" data-row="4">
        <div class="col" style="width:100%">

        </div>
    </div>
</div>
<div class="property-view">
    <div class="page-title clear">
        <h3>Property</h3>
    </div>
    <div class="list-group list-form">
        <div class="list-group-item">
            <label class="form-label" for="name">name</label>
            <input class="form-text" type="text" value="banner">
        </div>
        <div class="list-group-item">
            <label class="form-label" for="name">height</label>
            <input class="form-text" type="text" value="">
        </div>
        <div class="list-group-item">
            <label class="form-label" for="name">URL</label>
            <input class="form-text" type="text" value="">
        </div>
        <div class="list-group-item">
            <label class="form-label" for="name">class</label>
            <input class="form-text" type="text" value="">
        </div>
        <div class="list-group-item">
            <label class="form-label" for="name">HTML</label>
            <input class="form-text" type="text" value="">
        </div>
        <div class="list-group-item">
            <label class="form-label" for="name">describe</label>
            <textarea class="form-text" value="" style="height:56px"></textarea>
        </div>
    </div>
</div>
{% endblock %} {% block script %} {% endblock %}