{% extends '../layout/base.html' %}
{% block body %}
    {% include '../common/header.html'%}
    <div class="container">
        <div class="sign">
            <form action="/login/signin" accept-charset="UTF-8" method="post">
                <table class="sign-in-form">
                    <caption><h1 class="title">Sign In{{user.name}}</h1></caption>
                    <col width="">
                    <col width="">
                    <tbody>
                        <tr>
                            <th><label class="form-label" for="user">User</label></th>
                            <td><input id="user" class="form-text" type="text" name="account"></td>
                        </tr>
                        <tr>
                            <th><label class="form-label" for="pwd">Password</label></th>
                            <td><input id="pwd" class="form-text" type="password" name="pwd"></td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-green" type="submit">Sign In</button></td>
                            <td><button class="btn btn-blue" type="button">Create New Account</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}