.property-panel{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 10px;
    width: 300px;
    background-color: #343a40;
    color:#fff;
    transition: width .3s ease-in-out 0s;
    .panel-title{
       position: relative;
       line-height: 22px;
       border-bottom: 1px solid #aaa; 
    }
    .panel-body{

    }
}