.page-info{
    position: fixed;
    top: 0;
    bottom: 10px;
    left: 0;
    z-index: 10;
    width: 300px;
    color:#fff;
    background-color: #343a40;
    .page-title{
        position: relative;
        padding: 0 5px;
        line-height: 22px;
        border-bottom: 1px solid #aaa;
        cursor: pointer;
        &:hover{
            color:#fd062b;
            h3{
                transform: scale(1.1)
            }
        }
        h3{
            display: inline-block;
        }
    }
    .page-context{

    }
}
