.page-info{
    position: fixed;
    top: 0;
    bottom: 10px;
    left: 0;
    z-index: 10;
    width: 300px;
    color:#fff;
    background-color: #343a40;
    .page-title{
        position: relative;
        padding: 0 5px;
        line-height: 22px;
        border-bottom: 1px solid #aaa;
        h3{
            display: inline-block;
            &:hover{
                color:#fd062b;
                transform: scale(1.1);
                cursor: pointer;
            }
        }
        &:before{
            content:"";
            display: table;
            clear: both;
        }
    }
    .page-content{
        padding: 0 5px;
    }
    .page-addrow{
        float: right;
        margin-top: 11px;
        margin-right: 7px;
        cursor: pointer;
        &:active{
            background-color: #fff;
        }
    }
}
